@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Helvetica";
    src: font-url("/fonts/HelveticaMonospaced") format("woff");
  }
}

#myVideo {
  position: fixed;
  inset: 0;
  height: screen;
  width: screen;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2f4ef4f;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #62c2a6;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #358971;
}

@media screen and (max-width: 720px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}
